[data-theme="dreamscape"] {

  --dark: #111111;
  --light: #f0f0f0;
  
  --primary-color: #FF8D8B;
  --secondary-color: #FFEEA3;
  --tertiary-color: #98c3e7;
  --muted-color: #CAD9B1;
  --darker-color: #42722e;

  --theme-bg: var(--muted-color);

  --theme-title-color: var(--light);
  --theme-title-font: "Inter", "Segoe UI", sans-serif;

  --theme-text-color: var(--light);
  --theme-text-font: "Inter", "Segoe UI", sans-serif;
  --theme-sub-color: var(--primary-color);

  --theme-card-bg: color-mix(in srgb, var(--darker-color) 50%, #00000050 50%);
  --theme-card-border: 1px solid color-mix(in srgb, var(--muted-color) 80%, transparent 20%);;
  --theme-card-border-radius: 2em;
  --theme-card-padding: 1rem;
  --theme-card-margin: 1rem;
  --theme-card-text-color: var(--light);

  --theme-button-bg: color-mix(in srgb, var(--darker-color) 50%, #00000050 50%);
  --theme-button-border-radius: 9px;
  --theme-button-border: 1px solid var(--light);
  --theme-button-text: var(--light);
  --theme-button-transform: uppercase;
  --theme-button-padding: 0.5rem 1rem;
}

[data-theme="dreamscape"] .theme-card, [data-theme="dreamscape"] button {
  backdrop-filter: blur(10px);
}

[data-theme="dreamscape"] .theme-card{
  box-shadow:
    0 8px 16px rgba(0, 0, 0, 0.2),
    inset 0 0 40px 10px rgba(0, 0, 0, 0.2);
}

[data-theme="dreamscape"] .theme-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg, #ffffff00, #ffffff99, #ffffff00);
}